<div class="table-responsive">
	<div class="table-responsive">
		<table class="table table table-hover table-striped" id="data">
	        <thead>
	            <tr>
	                <th>No</th>
	                <th>NPM</th>
	                <th>Nama</th>
	                <th>Gender</th>
	                <th>Prodi</th>
	                <th>Telp</th>
	                <th>Angkatan</th>
	                <th>Aksi</th>
	            </tr>
	        </thead>
	        <tbody>
            	{% for data in get.mhsList  %}
            		<tr>
            			<td>{{ forloop.counter }} </td>
            			<td>{{ data.npm }}</td>
            			<td>{{ data.nama }}</td>
            			<td>{{ data.jk }}</td>
            			<td>{% if data.prodi == "mi" %} D3 MI 
            				{% elif data.prodi == "ilkom" %} S1 Ilmu Komputer 
            				{% endif %}
            			</td>
            			<td>{{ data.no_telp }}</td>
            			<td>{{ data.angkatan }}</td>
            			<td>
                            <a class="btn btn-primary" href='{{ HOST }}/{{ get.session.level }}/view/?npm={{ data.npm }}' style="margin-bottom: 15px; "><span class="fa fa-search"></span></a>
            			</td>
            		</tr>
            	{% endfor %}
	    	</tbody>
	    </table>
	</div>
</div>