<div class="table-responsive">
    <div class="modal-body">
        <table border="0px" style="width: 100%">
            <tr>
                <td style="width: 190px"><b>NPM</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.npm }}</td>
                <td rowspan="9" style="padding-top: 5px; width: 250px; text-align: right;">
                    <img src="{% if get.mhs.poto == '' %} {{ get.HOST }}/static/img/foto/no-img.jpg {% else %} {{ get.HOST }}/{{ get.mhs.poto }} {% endif %}" class="img img-thumbnail foto-view">
                </td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Email</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.email }}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Nama</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.nama }}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Tgl Lahir</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.tgl_lahir }}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Gender</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{% if get.mhs.jk == 'L' %} Laki-laki {% elif get.mhs.jk == 'P' %} Perempuan {% endif %}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Prodi</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{% if get.mhs.prodi == 'mi' %} D3 Manajemen Informatika {% elif get.mhs.prodi == 'ilkom' %} S1 Ilmu Komputer {% endif %}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Angkatan</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.angkatan }}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>Tahun Lulus</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.tahun_lulus }}</td>
            </tr>
            <tr>
                <td style="width: 190px"><b>No. Telepon</b></td>
                <td style="padding-right: 10px; padding-top:5px; width: 5px;">:</td>
                <td style="padding-top: 5px;">{{ get.mhs.no_telp }}</td>
            </tr>
            <tr style="border-bottom:1pt solid #e7eaec;">
                <td style="width: 190px"><b>Alamat</b></td>
                <td style="padding-right: 10px; padding-top:0px; width: 5px;">:</td>
                <td colspan="2" style="padding-top: 8px; padding-bottom: 8px">{{ get.mhs.alamat }}</td>
            </tr>
            <tr>
                <td valign="top" style="padding-top: 8px;"><b>Biografi</b></td>
                <td valign="top" style="padding-right: 10px; padding-top: 8px; width: 5px;"></td>
                
            </tr>
            <tr>
                <td colspan="4" style="padding-top: 5px;"><textarea style="border:0px; width: 100%; height: 200px">{{ get.mhs.biografi }}</textarea></td>
            </tr>
        </table>
    </div>
</div>


<!-- <div class="table-responsive">
    <div class="modal-body">
        <div class="form-group">
            <label>NPM</label>
            <input type="text" name="npm" class="form-control" value="{{ get.mhs.npm }}" disabled required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="mail" name="email" class="form-control" value="{{ get.mhs.email }}" required>
        </div>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" name="nama" class="form-control" value="{{ get.mhs.nama }}" required>
        </div>
        <div class="form-group">
            <label>Tgl Lahir</label>
            <input type="date" name="tgl_lahir" class="form-control" value="{{ get.mhs.tgl_lahir }}" required>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select name="jk" class="form-control" required>
                <option value="L" {% if get.mhs.jk == 'L' %} selected {% endif %} >Laki-laki</option>
                <option value="P" {% if get.mhs.jk == 'P' %} selected {% endif %} >Perempuan</option>
            </select>
        </div>
        <div class="form-group">
            <label>Prodi</label>
            <select name="prodi" class="form-control">
                <option value="mi" {% if get.mhs.prodi == 'mi' %} selected {% endif %}  >D3 Manajemen Informatika</option>
                <option value="ilkom" {% if get.mhs.prodi == 'ilkom' %} selected {% endif %} >S1 Ilmu Komputer</option>
            </select>
        </div>
        <div class="form-group">
            <label>Angkatan</label>
            <select name="angkatan" class="form-control">
                {% for y in get.year %}
                    <option value="{{ y }}" {% if get.mhs.angkatan == y %} selected {% endif %} >{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Tahun Lulus</label>
            <select name="tahun_lulus" class="form-control">
                {% for y in get.year %}
                    <option value="{{ y }}" {% if get.mhs.tahun_lulus == y %} selected {% endif %} >{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>No Telp</label>
            <input type="text" name="no_telp" class="form-control" value="{{ get.mhs.no_telp }}" required>
        </div>
        <div class="form-group">
            <label>Alamat</label>
            <textarea name="alamat" class="form-control" required>{{ get.mhs.alamat }}</textarea>
        </div>
        <div class="form-group">
            <label>Biografi</label><br>
            <small style="color:red">Jelaskan mengenai tentang diri anda, seperti pengalaman pekerjaan, sosial media, dll.</small>
            <textarea name="biografi" class="form-control" required style="height: 400px">{{ get.mhs.biografi }}</textarea>
        </div>
        <div class="form-group">
            <img src="{% if get.mhs.poto == '' %} {{ get.HOST }}/static/img/foto/no-img.jpg {% else %} {{ get.HOST }}/{{ get.mhs.poto }} {% endif %}" class="img img-thumbnail foto">
        </div>
        <button type="button" onclick="history.back();" class="btn btn-default" style="margin-right: 10px">Batal</button>
    </div>
</div> -->