{% load static %}
<div class="modal fade" id="modal_about" style="padding-right: 0px">
  <div class="modal-dialog" style="">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ABOUT</h4>
      </div>
      <div class="modal-body">
        <div class="inner split">
          <div>
            <section><br/>
            <center><span><img src="{% static 'img/alumni.png' %}" alt="" width="230px" height="100px"/></span>
              <h2>Sistem Informasi Data Alumni</h2>
              <h2>Jurusan Ilmu Komputer</h2>

              <br>
              <p style="text-align: justify;">
                Membantu proses pendataan alumni Ilmu Komputer
                secara digital dan melalui sistem sehingga mampu memberi 
                kemudahan untuk mencari data dan mengelolanya. 
                Sistem ini akan sangat dibutuhkan pada saat proses akreditasi, 
                dikarenakan akan sangat sulit menemukan kontak atau data alumni. 
                Sebagaimana kita tahu bahwa alumni sangat berperan penting dalam menjaga 
                mutu dan kualitas dari prodi itu sendiri, apakah setelah lulus dia berhasil 
                menerapkan ilmu yang telah dia pelajari selama masa perkuliahan di prodi tersebut.     
              </p>
            </center><br>
            <br>
            <center>
              Developed By:<br><b>
              Muhammad Rosidin<br>
              M. Septian E. <br>
              Abdul Mufit K. A<br>
            </center>
            </section>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>