{% load static %}
<div class="modal fade" id="modal_help" style="padding-right: 0px">
  <div class="modal-dialog" style="">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">HELP</h4>
      </div>
      <div class="modal-body">
        <span>
          <center>
          <img src="{% static 'img/alumni.png' %}" alt="" width="230px" height="100px" style="margin-bottom: 30px"></span><br>
          </center>
          
          
          <h3>Login :</h3>
          <div style="border-top: 1px solid #e5e5e5;"></div>
          <p></p>

            <li>Masukan Username dan Password pada saat registrasi</li>
            <li>Selanjutnya login</li>
            <li>Jika terjadi kesalahan segera menguhubungi admin sistem</li>
            <br><br>

          <h3>Registrasi Alumni :</h3>
            <div style="border-top: 1px solid #e5e5e5;"></div>
            <li>Isi semua data yang ada di form sesuai dengan data</li>
            <li>Cek semua data terlebih dahulu sebelum menyimpanya</li>
            <li>Jika semua selesai lalu simpan</li>
            <li>Setelah registrasi berhasil, selanjutnya anda belum dapat melakukan login, 
                <p style="padding-left: 19px; margin-bottom: 0px">dikarenakan data tersebut harus diverifikasi oleh admin sistem</p></li>
            <li>Setelah data terverifikasi anda dapat melakukan login dan mencari 
                <p style="padding-left: 19px; margin-bottom: 30px">seluruh data alumni jurusan Ilmu Komputer </p></li>
            <small style="margin-top: 30px"><b>Note:</b><br>
              Harap menggunakan data alumni yang tersedia dengan bijak, jika tidak ingin berurusan dengan hukum.
            </small>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>